name: CD Pipeline

on:
  workflow_run:
    workflows: ["CI Pipeline"]
    types:
      - completed

jobs:
  deploy:
    runs-on: [self-hosted, Linux, X64]
    if: ${{ github.event.workflow_run.conclusion == 'success' }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: List files (Debug)
        run: ls -R

      - name: Set up kubectl
        uses: azure/setup-kubectl@v3
        with:
          version: 'latest'

      - name: Reset and Update Minikube Context
        run: |
          rm -f $HOME/.kube/config
          minikube update-context

      - name: Deploy to Kubernetes
        run: |
          kubectl apply -f k8s/deployment.yaml
          kubectl set image deployment/weather-ml-app weather-ml-app=egalbr300/weather-ml-app:${{ github.sha }}
          kubectl rollout status deployment/weather-ml-app
